<html>
<head>

    <link rel="stylesheet" href="interm.css">  
   
   
</head>
  
  <body>
  
    <div class="animated fadeIn">
        
      <div class="firewall">
        U.FIREWALL
      
      </div>
      <br>
      <br>
   
      <div class="animated bounceIn">
  <div class="load">
    <div class="bar">
    </div>
  </div>
      </div>
  
      <br>
      <div class="firetext">
        <h1>firewall !!</h1>
        <h2>Please wait we are verifying your request</h2>
        <h8><div>!! Protected by U.Firewall !!!!</div> </h4>
      </div>
    </div>
  
    </body>
    </html>